git+https://github.com/oxwhirl/smac.git
git+https://github.com/oxwhirl/smacv2.git
numpy
protobuf
pygame
pyglet
PyYAML
scipy
six
tensorboard
tensorboard-logger
tensorboardX
torch
torchvision
tqdm
wandb
